@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");


:root {
    --rainygreen: #29360c;
    --rainygrey: hsl(82, 8%, 73%);
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monda", sans-serif;
}

.nav {
    background-color: var(--rainygreen);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2.5rem 10px 2.5rem;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo img {
    max-width: 100%;
}

.cart {
    color: white;
    font-size: 30px;
    display: flex;
    cursor: pointer;
}

#cartAmount {
    font-size: 15px;
}


.banner {
    background-image: url(images/framsidabanner.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.slider {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#slides {
    font-size: 12px;
}

.sliderItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.sliderItem img {
    max-width: 300px;
    height: 300px;
}



.buttonz {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px;
    border: none;
    background-color: var(--rainygrey);
    color: var(--rainygreen);
    cursor: pointer;
}

#next {
    right: 20%;
}

#prev {
    left: 20%;
}




.jacketContainer button:hover,
.sortbtn:hover {
    background-color: var(--rainygreen);
    color: white;
}

@media (max-width: 1200px) {
    #gridContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    #gridContainer {
        grid-template-columns: 1fr;
    }
}

.price-sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.sortbtn {
    background-color: var(--rainygrey);
    color: var(--rainygreen);
    font-size: 12px;
    font-weight: bold;
    border: 2px solid --rainygreen;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-details {
    display: flex;
    margin-inline: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
}

#productImage {
    max-width: 100%;
    height: auto;
}

@media (max-width:1500px) {
    .product-details {
        flex-direction: column;
    }
}



#closeCart {
    position: absolute;
    left: 0;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.cart-item img {
    max-width: 150px;
}

.cart-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 25px;
    color: var(--rainygreen);
    padding: 25px;
    background-color: white;
}

.cart-item button {
    background-color: transparent;
    color: var(--rainygreen);
    border: none;
    font-size: 15px;
}

.jacketContainer img {
    max-width: 300px;
    height: 300px;
    border-radius: 20px;
}

.jacketContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jacketContainer button {
    padding: 0.5rem;
    border: none;
    background-color: var(--rainygrey);
    font-weight: bold;
    color: var(--rainygreen);
    cursor: pointer;
}

#displayContainer {
    display: grid;
   width: min(95%, 70rem);
   grid-template-columns: repeat(3, 1fr);
   gap: 5rem;
   margin-inline: auto;
   padding-top: 1rem;
   padding-bottom: 1rem;
}


@media (max-width: 1200px) {
    #displayContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    #displayContainer {
        grid-template-columns: 1fr;
    }
}

#cartContainer {
    display: grid;
    margin-inline: auto;
    justify-content: center;
    padding-top: 250px;
    color: white;
    gap: 2rem;
}

#cartContainer > div {
    gap: 25px;
}

#checkoutBod {
    background-color: var(--rainygreen);
}
